.title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.imgBlock {
  width: 95%;
  margin: 0 auto;
  display: block;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 30px;
  margin: 20px 0;
}
